{% extends "base.html" %}

{% block content %}
<body>
    <div class="wrapper">
        <h1> About this Project </h1>
        <hr>
        <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolore obcaecati, expedita officiis sit officia similique quo dolores, eligendi minima dolorem incidunt iure, ratione tempore ducimus mollitia illum. Dolor, minima.
        <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolore obcaecati, expedita officiis sit officia similique quo dolores, eligendi minima dolorem incidunt iure, ratione tempore ducimus mollitia illum. Dolor, minima.
        <br />
        <br />
        <h2>Second Title</h2>
        <hr>
        <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolore obcaecati, expedita officiis sit officia similique quo dolores, eligendi minima dolorem incidunt iure, ratione tempore ducimus mollitia illum. Dolor, minima.
        <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolore obcaecati, expedita officiis sit officia similique quo dolores, eligendi minima dolorem incidunt iure, ratione tempore ducimus mollitia illum. Dolor, minima.
        <br />
        <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolore obcaecati, expedita officiis sit officia similique quo dolores, eligendi minima dolorem incidunt iure, ratione tempore ducimus mollitia illum. Dolor, minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolore obcaecati, expedita officiis sit officia similique quo dolores, eligendi minima dolorem incidunt iure, ratione tempore ducimus mollitia illum. Dolor, minima.
        <br />
    </div>
</body>
{% endblock %}