{% extends "base.html" %}

{% block content %}


 


<div class= "wrapper">
    <h1>Upload an Image</h1>
    <hr>
    <h2>Upload a Satelitte Image to Analzye for the detection of Freight Vehicles.</h2>
     
   <br />
    
    <form id="upload-form" action="{{ url_for('upload') }}" method='POST' enctype='multipart/form-data'>
    
                <input id="file" type="file" name="file"  class="inputfile" accept ="image/.*" data-multiple-caption="{count} files selected" multiple />
                <label for="file"> <strong><span> Choose Image(s)</span></strong></label>
<br /></br />

        <img id="preview" />
        
        
        
        
        <script>
        
        $(function()
        {
           $("#file").on('change', function(){
           // Display image on the page for viewing
                readURL(this,"preview");
        
           });
        });
        
        function readURL(input , tar) {  
            if (input.files && input.files[0]) { // got sth
        
            // Clear image container
            $("#" + tar ).removeAttr('src'); 
        
            $.each(input.files , function(index,ff)  // loop each image 
            {
        
                var reader = new FileReader();
        
                // Put image in created image tags
                reader.onload = function (e) {
                    $('#' + tar).attr('src', e.target.result);
                }
        
                reader.readAsDataURL(ff);
        
            });
            }
        }
            </script>


<br />
<br />
<input type='submit' value='Analyze...'>


                
            

         

</div>



<script src="{{
    url_for('static', filename='js/script.js') }}"></script>  


{% endblock %}


